.service-card {
  @apply bg-gray-900 transition-all duration-300 p-4 h-52 overflow-hidden mx-4;
}
.service-card:hover {
  @apply shadow-lg;
}

.service-card:hover .cls-1{
  stroke: #ed3c78 !important;
}
.service-card:hover .cls-2 {
  stroke: #ed3c78 !important;
}
.service-card:hover .cls-3 {
  stroke: #ed3c78 !important;
}
.service-card:hover .cls-4 {
  stroke: #ed3c78 !important;
}

.service-card .service-section-icon {
  @apply h-32 transition-all duration-300;
}
.service-card:hover .service-section-icon {
  @apply h-20;
}

.service-card div img path {
  stroke: #fff;
  transition: 300ms;
}

.service-card.active div svg circle {
  stroke: #fff;
  transition: 300ms;
}

.service-card:hover div svg path {
  stroke: #ed3c78 !important;
}

.service-card:hover div svg circle { 
  stroke: #ed3c78 !important;
}

.service-card:hover div svg polyline {
  stroke: #ed3c78 !important;
}

.service-card:hover div svg line {
  stroke: #ed3c78 !important;
}

.service-card:hover div svg rect {
  stroke: #ed3c78 !important;
}

.service-card:hover div svg polygon {
  stroke: #ed3c78 !important;
}

.service-card .service-card-content {
  @apply overflow-hidden;
}

.service-card .service-card-content h2 {
  @apply text-center text-white font-mons text-lg font-semibold pt-5 transition-all duration-300;
}

.service-card:hover .service-card-content h2 {
  @apply text-center text-primary font-mons text-sm font-semibold pt-1;
}

.service-card .service-card-content p {
  @apply text-center font-mons text-xs pt-3 text-gray-800 transition duration-300 overflow-hidden h-0 px-4;
}

.service-card:hover .service-card-content p {
  @apply h-auto text-primary;
}
